<div class="authnav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <form action="/logout" method="post">
                <button class="btn btn-primary" type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>


{{#if isAdmin}}
<h1>Applications Review</h1>
{{else}}
<h1>My Applications</h1>
<a class="btn btn-primary apply" href="/jobs">Apply Now</a>
{{/if}}

{{#if applied}}
<div class="alert alert-success" role="alert">
    Thank you for appliying to this job we'll reach out shortly at your email
</div>
{{/if }}
<div id="tableapp">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                {{#if isAdmin}}
                <th scope="col">CV</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                {{/if }}
            </tr>
        </thead>
        <tbody>
            {{#each applications}}
            <tr>
                <td>{{position}}</td>
                <td>{{fullname}}</td>
                <td>{{email}}</td>
                <td>{{status}}</td>

                {{#if ../isAdmin}}
                <td><a href="/admin/applications/{{id}}/cv" target="_blank">Download CV</a></td>
                <td>
                    <form action="/admin/applications/approve" method="post">
                        <input type="hidden" name="id" value="{{id}}" />
                        <button class="btn btn-outline-success btn-sm" type="submit">Approve</button>
                    </form>
                </td>
                <td>
                    <form action="/admin/applications/deny" action="/delete" method="post">
                        <input type="hidden" name="id" value="{{id}}" />
                        <button class="btn btn-outline-danger btn-sm" type="submit">Deny</button>
                    </form>
                </td>
                <td>
                    <form action="/admin/applications/delete" action="/delete" method="post">
                        <input type="hidden" name="id" value="{{id}}" />
                        <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                    </form>

                </td>
                {{/if }}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>